

*{box-sizing: border-box;}

:root{
  --black: #1d1d1d;
  --pink: #e24a87 ;
  --grey: #6a4f64 ;
  --white: #e6e1e2;
  --whiter: #d8d4d5;
}

body{
  display: flex;
  background-color: var(--black);
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

/* NAVBAR*/

.navbar{
  position: relative;
  color: white ;
  width: 100%;
  margin-bottom: 10px;
  transition: background-image 0.5s;
}

.logo{
position: relative;
margin-top: 20px;
width: 8em;
}

.navbar-nav{
  color: white;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  justify-content: flex-end;
}

.nav__titre{
  color: var(--pink);
  margin-left: 20px;
}


/* AUTRES */
.hero{
  display: flex;
  position: relative;
  width: 100%;
  height: 75vh;
  align-items: center;
  flex-direction: column;
  transform: translateY(-5%);
  
}  


.text__prenom{
    font-family: 'Anton', sans-serif;
    color: var(--black);
    font-size: 20em;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--white);
    text-align: center;
    width: 100%;

}

.text__nom{
    font-family: 'Anton', sans-serif;
    color: var(--black);
    font-size: 20em;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--pink);
    text-align: center;
    width: 100%;
    transform: translateY(-35%);
}

.diamant{
  position: absolute;
  background-color: var(--white);
  transform: translateY(45%) rotate(45deg);
  width: 250px;
  height: 250px;
  border-color: var(--whiter);
  border-style: solid;
  border-width: 10px;
  box-shadow: 1px 1px 50px ;
}

.a-propos{
  position: relative;
  color: white;
  width: 100%;
  font-size: 3em;
  left: 50px;
}

.text_section{
  color: white;
  position: absolute;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  left: 70px;
}

.line1{
  position: absolute;
  width: 310px;
  background-color: var(--pink);
  height: 20px;
  z-index: -1;
  top: 18px;
  left: -50px;
}

.line2{
  position: absolute;
  width: 310px;
  background-color: var(--grey);
  height: 7px;
  z-index: -1;
  top: 45px;
  left: -50px;
}


.presentation{
  width: 50%;
  justify-content: center;
  position: relative;
}

/* MENUS */

.titre__menu__about{
  position: relative;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  color: var(--black);
  text-align: center;
  font-size: 5em;
  background-color: var(--pink);
  padding-top: 25px;
  padding-bottom: 20px;
}

.titre__menu__travaux{
  position: relative;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  color: var(--black);
  text-align: center;
  font-size: 5em;
  background-color: var(--pink);
  padding-top: 25px;
  padding-bottom: 20px;
}

/* ABOUT */
.about{
  display: flex;
  position: relative;
  width: 100%;
  height: 500px;
  flex-direction: column;
}

.titre__hello{
  text-align: center;
  color: white;
  width: 100%;
  font-size: 5em;
  padding: 30px;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  color: var(--pink);
}

.texte__about{
  color: white;
  width: 100%;
  text-align: justify;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 30px;
  font-size: 1.5em;
  position: relative;
  font-family: 'Barlow', sans-serif;
}

/* TRAVAUX */

.travaux{
  position: relative;
  width: 100%;
  height: 100%;

}
.travail1{
  position: relative;
  width: 100%;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 150px;
  padding-bottom: 150px;
}

.titre1{
  position: relative;
  font-size: 3em;
  text-align: left;
  color: white;
  width: 100%;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  color: var(--pink);
}

.titre2{
  position: relative;
  font-size: 2em;
  text-align: left;
  color: white;
  width: 100%;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  color: var(--grey);
  
}

.travail__textes{
  position: relative;
}

.description__travail{
  position: relative;
  color: white;
  width: 100%;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5em;
  position: relative;
  font-family: 'Barlow', sans-serif;
}

.travail__grille{
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-template-columns:  repeat(2, 1fr);
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.bloc1{
  position: relative;
  width: 100%;
  height: 50vh;
  border: white 2px solid

}
.bloc2{
  position: relative;
  width: 100%;
  height: 50vh;
  border: white 2px solid

}
.bloc3{
  position: relative;
  width: 100%;
  height: 600px;
  grid-column: span 2;
  border: white 2px solid
}

.bloc3csf{
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: span 2;
  border: white 2px solid
}


.travail__grille__videos{
width: 100%;
}

iframe{
  width: 100%;
  margin-bottom: 30px ;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 
.button__plus{
  position: relative;
  border: none;
  background-color: var(--pink);
  padding: 10px 22px;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 30%;
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}


.travail2{
  position: relative;
  width: 100%;
  height: 500px;
  background-color: green;

}
/* MODALS INFO*/

.modal-content{
  background-color: var(--pink) !important
}

.modal-title{
  text-align: center;
  color: white;
  width: 100%;
  font-size: 3em;
  padding: 20px;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
 
} 

.description__modal{
  color: white;
  width: 100%;
  text-align: justify;
  padding: 30px;
  font-size: 1.5em;
  position: relative;
  font-family: 'Barlow', sans-serif;
}

.liens{
  background-color: var(--whiter);
  color: var(--pink);
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  transition-property: font-size; 
  transition-duration: 0.5s;
}

.liens:hover{
  text-decoration: none;
  color: var(--black);
  font-size: 1.8em;
}

.liens__textes{
  margin-top: 30px;
  width: 100%;
}

/* MODAL PICS*/

.modal__img{}

/* MERCI BLOCS */

.merci__bloc{
  position: relative;
  width: 100%;
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: var(--black);
  font-size: 8em;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--pink);
  
}

.img__modal{
  margin-top: 50px;
  margin-bottom: 50px;
}

/* CONTACT */

.contact{
  position: relative;
  margin-top: 120px;
  width: 100%;
  height: 50vh;
  background-color: var(--pink);
}

.contact__texte{
  color:  var(--black);
  font-family: 'Anton', sans-serif;
  width: 100%;
  text-align: center;
  padding-top: 25vh;
  font-size: 2em;
  z-index: 5;
  position: absolute;
}

.contact__deco{
 font-size: 17em;
 text-align: center;
 transform: translateY(22%);
 width: 100%;
 height: auto;
 color: var(--pink);
 font-family: 'Anton', sans-serif;
 -webkit-text-stroke: 0.5px var(--white);
 opacity: 0.4;
 z-index: 0;
 
}