* {
  box-sizing: border-box;
}

:root {
  --black: #1d1d1d;
  --pink: #e24a87;
  --grey: #6a4f64;
  --white: #e6e1e2;
  --whiter: #d8d4d5;
}

html, body {
  display: flex;
  background-color: var(--black);
  width: 100%;
  height: 100%;
  flex-direction: column;
  cursor: context-menu;

}

/* NAVBAR*/

.navbar {
  position: relative;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  transition: background-image 0.5s;
  
}

.logo {
  position: relative;
  margin-top: 20px;
  width: 8em;
  transition-duration: 0.2s; 
  transition-timing-function: ease;
}

.logo:hover {
  transform: scale(1.2);
  filter: brightness(5);
}

.navbar-nav {
  color: white;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  justify-content: flex-end;
}

.nav-item {
  transition-duration: 0.2s; 
  transition-timing-function: ease;
  margin-left: 20px;
}

.nav-item:hover {
  color: var(--pink)!important;
  transform: scale(1.2);

}


/* AUTRES */
.hero {
  display: flex;
  position: relative;
  width: 100%;
  height: 90vh;
  align-items: center;
  flex-direction: column;
  transform: translateY(-8%);
  overflow: hidden;
}

.text__prenom {
  font-family: "Anton", sans-serif;
  color: var(--black);
  font-size: 20em;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--white);
  text-align: center;
  width: 100%;
  animation-name: prenom-anim ;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.09,.67,.36,.98);
}

@keyframes prenom-anim { 
  from { transform: translateX(-800px) } 
  to { transform: translateX(0px) }  
}

.text__nom {
  font-family: "Anton", sans-serif;
  color: var(--black);
  font-size: 20em;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--pink);
  text-align: center;
  width: 100%;
  transform: translateY(-35%);
  animation-name: nom-anim ;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.09,.67,.36,.98);
}

@keyframes nom-anim { 
  from { transform: translateY(-35%) translateX(800px) } 
  to { transform: translateY(-35%) translateX(0px) }  
}

.diamant {
  position: absolute;
  background-color: var(--white);
  transform: translateY(220px) rotate(45deg);
  width: 350px;
  height: 350px;
  border-color: var(--whiter);
  border-style: solid;
  border-width: 15px;
  box-shadow: 1px 1px 50px;
  transition-property:  transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(.02,.67,.42,1.01);
  overflow: hidden;
  
}

.diamant:hover {
  transform: translateY(220px) rotate(45deg) scale(1.2);
}

.diamant__image{
  transform: translateX(30px) translateY(-105px) rotate(-45deg) scale(1.4);
  filter: grayscale(100%) blur(5px);

}

.diamant__image:hover{
  filter: grayscale(100%) blur(0px);
}

.a-propos {
  position: relative;
  color: white;
  width: 100%;
  font-size: 3em;
  left: 50px;
}

.text_section {
  color: white;
  position: absolute;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  left: 70px;
}

.line1 {
  position: absolute;
  width: 310px;
  background-color: var(--pink);
  height: 20px;
  z-index: -1;
  top: 18px;
  left: -50px;
}

.line2 {
  position: absolute;
  width: 310px;
  background-color: var(--grey);
  height: 7px;
  z-index: -1;
  top: 45px;
  left: -50px;
}

.presentation {
  width: 50%;
  justify-content: center;
  position: relative;
}

/* MENUS */

.titre__menu__about {
  position: relative;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  color: var(--black);
  text-align: center;
  font-size: 5em;
  background-color: var(--pink);
  padding-top: 25px;
  padding-bottom: 20px;
  z-index: 2;
  overflow: hidden;
  
}

.titre__menu__travaux {
  position: relative;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  color: var(--black);
  text-align: center;
  font-size: 5em;
  background-color: var(--pink);
  padding-top: 25px;
  padding-bottom: 20px;
  z-index: 2;
}

/* ABOUT */
.about {
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
}

.titre__hello {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 5em;
  padding: 30px;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  color: var(--pink);
  overflow: hidden;
}

.hello{
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(.02,.67,.42,1.01);
}

.hello:hover {
  color: white;
  transform: rotate(5deg) scale(1.5);
}

.texte__about {
  color: white;
  width: 100%;
  text-align: justify;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 30px;
  font-size: 1.8em;
  position: relative;
  font-family: "Barlow", sans-serif;
}

/* TRAVAUX */

.travaux {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.travail1 {
  position: relative;
  width: 100%;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 150px;
  padding-bottom: 150px;
}

.titre1 {
  position: relative;
  font-size: 3em;
  text-align: left;
  width: 100%;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  color: var(--pink);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(.02,.67,.42,1.01);
}

.titre1:hover {
  color: white;
  transform: scale(1.1);
}


.titre2 {
  position: relative;
  font-size: 2em;
  text-align: left;
  width: 100%;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  color: var(--grey);
}

.travail__textes {
  position: relative;
}

.description__travail {
  position: relative;
  color: white;
  width: 100%;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.8em;
  position: relative;
  font-family: "Barlow", sans-serif;
}

.travail__grille {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.bloc1logo {
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: span 2;
  border: white 2px solid;
}

.bloc1bts {
  position: relative;
  width: 100%;
  height: 100%;
  border: white 2px solid;
}
.bloc2bts {
  position: relative;
  width: 100%;
  height: 100%;
  border: white 2px solid;
}
.bloc3bts {
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: span 2;
  border: white 2px solid;
}

.bloc1csf {
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: span 2;
  border: white 2px solid;
}

.travail__grille__videos {
  width: 100%;
}

iframe {
  width: 100%;
  margin-bottom: 30px;
  border: white 2px solid;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button__plus {
  position: relative;
  border: none;
  background-color: var(--pink);
  padding: 10px 22px;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 30%;
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.5s;
}


.button__plus:hover {
  transform: scale(1.3);
  background-color: white;
}

.travail2 {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: green;
}
/* MODALS INFO*/

.modal-content {
  background-color: var(--pink) !important;
}

.modal-title {
  text-align: center;
  color: white;
  width: 100%;
  font-size: 3em;
  padding: 20px;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}

.description__modal {
  color: white;
  width: 100%;
  text-align: justify;
  padding: 30px;
  font-size: 1.5em;
  position: relative;
  font-family: "Barlow", sans-serif;
}

.liens {
  background-color: var(--whiter);
  color: var(--pink);
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  transition-property: font-size;
  transition-duration: 0.5s;
}

.liens:hover {
  text-decoration: none;
  color: var(--black);
  font-size: 1.8em;
}

.liens__textes {
  margin-top: 30px;
  width: 100%;
}

/* MODAL PICS*/

.img__croquis_logo{
  width: 100%;
  height: 100%;
  margin-top: 30px;
  background-color: black;
}

mark{
  background-color: var(--pink);
  color:var(--black);
  font-weight: bold;
  text-transform: uppercase;
}
/* MERCI BLOCS */

.merci__bloc {
  position: relative;
  width: 100%;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: var(--black);
  font-size: 8em;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--pink);
}

.img__modal {
  margin-top: 50px;
  margin-bottom: 50px;
}

.gif__modal{
  width: 33%;
}

/* CONTACT */

.contact {
  position: relative;
  margin-top: 120px;
  width: 100%;
  height: 50vh;
  background-color: var(--pink);
  overflow: hidden;
}

.contact__texte {
  color: var(--black);
  font-family: "Anton", sans-serif;
  width: 100%;
  text-align: center;
  padding-top: 23vh;
  font-size: 2em;
  z-index: 5;
  position: absolute;
}

.contact__deco {
  font-size: 17em;
  text-align: center;
  transform: translateY(45px);
  width: 100%;
  height: auto;
  color: var(--pink);
  font-family: "Anton", sans-serif;
  -webkit-text-stroke: 0.5px var(--white);
  opacity: 0.6;
  z-index: 0;
}

/* MEDIA QUERIES */



@media screen and (max-width: 1500px) {
  .hero {
    padding-top: 100px;

  }

  .text__prenom {
    font-size: 15em;
  }

  .text__nom {
    font-size: 15em;
    transform: translateY(-35%);
  }

  .diamant {
    transform: translateY(170px) rotate(45deg);
    width: 250px;
    height: 250px;
    border-width: 15px;
  }
  .diamant:hover {
    transform: translateY(170px) rotate(45deg) scale(1.2);
  }

  .diamant__image{
    transform: translateX(30px) translateY(-60px) rotate(-45deg) scale(1.4);
  }
}


@media screen and (max-width: 1200px) {
  .hero {
    padding-top: 160px;
    height: 100vh;
  }

  .text__prenom {
    font-size: 10em;
  }

  .text__nom {
    font-size: 10em;
    transform: translateY(-35%);
  }

  .diamant {
    transform: translateY(95px) rotate(45deg);
    width: 200px;
    height: 200px;
    border-width: 15px;
  }
  .diamant:hover {
    transform: translateY(95px) rotate(45deg) scale(1.2);
  }
  
  .diamant__image{
    transform: translateX(30px) translateY(-40px) rotate(-45deg) scale(1.4);
  }

  .gif__modal{
    width: 100%;
  }

  .button__plus {
    position: relative;
    border: none;
    background-color: var(--pink);
    padding-left: 15px ;
    padding-right: 15px;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 30%;
    font-size: 1.3em;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
  }

  
  
  
}




@media screen and (max-width: 768px) {
  .hero {
    padding-top: 100px
  }

  .text__prenom {
    font-size: 5em;
  }

  .text__nom {
    font-size: 5em;
    transform: translateY(-35%);
  }

  .diamant {
    transform: translateY(260px) rotate(45deg);
    width: 280px;
    height: 280px;
    border-width: 15px;
  }

  .diamant:hover {
    transform: translateY(260px) rotate(45deg) scale(1.2);
  }

  .diamant__image{
    transform: translateX(30px) translateY(-75px) rotate(-45deg) scale(1.4);
  }

  .travail__grille {
    display: flex;
    
    flex-direction: column;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }



}